<!DOCTYPE html>

<html>
    
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css"> 
    
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>A simple interface to deploy a bot from an A2019 Control Room and retrieve the output.</p>
        <p>As a pre-requisite, ensure you have a Run As User with a default bot runner device registered in your Control Room.</p>
        <p>Enter the required inputs below and click run! The deployment ID will populate on the screen.</p>

        <form>
            <input id="Url", placeholder="Control Room URL" pattern="https?://.+" title="Include http://">
        </form>
        <form>
            <input id="userName", placeholder="User Name">
        </form>
        <form>
            <input type="password", id="key", placeholder="Password">
        </form>
        <form>
            <input id="runner", placeholder="Run As User">
        </form>
        <form id="bot">
            <input id="botName", placeholder="Bot Name">
            <button id="runBotButton">Run Bot</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>

        {{>botOutput}}

    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>